{{ define "main" }}
<div class="p-4  mx-auto ">
  <div class=" grid grid-cols-1 md:grid-cols-12 gap-x-1 ">
    <header class=" w-full md:col-span-12 prose lg:prose-xl max-w-screen-lg  dark:prose-invert">
      <h1><i class="fab fa-spotify text-7xl text-green-500 align-middle pr-2"></i>{{ .Title }}</h1>
    </header>
    <div class="p-4 md:col-span-10 prose max-w-max lg:prose-lg dark:prose-invert ">
          Followers:: {{ (lang.FormatNumberCustom 0 .Params.numFollowers) }} | Spotify Popularity Score:: {{ (lang.FormatNumberCustom 0 .Params.popularity) }} | Tracks Played:: {{ .Params.numTracks }}<br/>
          {{ $caption := .Title }}
          {{ range .Params.spotifyImages }}
            {{ if lt .width 1000 }}
              <figure>
                <img src="{{ .url }}" width="{{ .width }}" height="{{ .height }}">
                <figcaption><h4>{{ $caption }}</h4></figcaption>
              </figure>
              {{/*  show the first image less that 1000 here */}}
              {{ break }}
            {{ end }}
          {{ end }}
          {{/*  {{- partial "picture.html" (dict "page" . "src" $imgHref "width" 640) }}  */}}
          <h3>Spotify Artist Page</h3>
          {{- partial "cta-button.html" (dict 
            "button_type" "spotify"
            "button_label" .Title
            "button_href" .Params.spotifyUrl)
          }}
        
        {{ if .Params.musicalGenres }}
          <h3>Genres</h3>
          <ul class="inline-flex">
            {{ $genreCount := len .Params.musicalGenres }}
            {{ range $index, $genre := .Params.musicalGenres }}
              {{ $link := relURL (print "/musical-genres/" ($genre | urlize) ) }}
              <li>
                <a href="{{ $link }}" class="hover:underline">{{ $genre }}</a>{{ if ne $index (sub $genreCount 1) }}, {{ end }}
              </li>
            {{ end }}
          </ul>
        {{ end }}
        
          
          
          <h3>Top Tracks</h3>
          {{ $seen := slice }}
          <ol>
          {{ range .Params.tracks }}
            {{ if not (in $seen .id) }}
              {{ $seen = $seen | append .id }}
              {{/* Render your track information here */}}
              <li>{{ .name }} on {{ .album.name }}
              <audio controls>
                <source src="{{ .preview_url }}" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio></li>
            {{ end }}
          {{ end }}
          </ol>

    </div>
    <aside class=" max-w-max md:col-span-2 relative">

    {{/*  deside if the aside shall reside  */}}
    </aside>
</div>
{{ end }}