{{ define "main" }}

<div class="max-w-sm mx-auto flex items-center space-x-4 px-4 py-8">
  <div class="p-4 rounded-xl bg-gray-800/75 text-gray-200">
      <div class="text-xl text-center font-bold text-slate-500">{{ .Title }}</div>
      <div class=" text-slate-500 m-1">
          {{ .Content }}
      </div>
      <div class="text-slate-500 m-1 text-center">
        {{ with .Site.Params.social }}
        <ul class="flex justify-center items-center list-none">
        {{ range sort . "weight" }}
          {{ if .faClasses}} {{ if .url }}
          <li class="px-2">
            <a class="hover:underline cursor-pointer" href="{{ .url | safeURL }}" aria-label="{{ .title }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
              <span class="{{ .faClasses }}"></span>
            </a>
          </li>
          {{ end }} {{ end }} 
        {{ end }}
        </ul>
        {{ end }}
      </div>
  </div>
</div>

{{ end }}
