<a href="{{ .Site.Home.RelPermalink }}"><div class="max-w-max inline-block not-prose bg-neutral-200 rounded-full sm:rounded-lg p-3 sm:p-1 font-titillium">
  <div class="flex flex-col">
    <h1 class="text-4xl ">
        <span class="text-[#17729C]">b<span class="hidden sm:inline">en</span></span><span class="hidden sm:inline">&nbsp;</span><span class="text-[#81B622]">s<span class="hidden sm:inline">trawbridge</span></span>
    </h1>
    <span class="hidden sm:block text-stone-600 text-xs mt-[-0.25em] tracking-[0.4em] ">DOT COM CONSULTING</span>
  </div>
</div></a>
